<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @weapon.name %>
</p>

<p>
  <strong>Dice num:</strong>
  <%= @weapon.dice_num %>
</p>

<p>
  <strong>Dice sides:</strong>
  <%= @weapon.dice_sides %>
</p>

<%= link_to 'Edit', edit_weapon_path(@weapon) %> |
<%= link_to 'Back', weapons_path %>
