<p id="notice"><%= notice %></p>

<p>
  <strong>Strength:</strong>
  <%= @character.strength %>
</p>

<p>
  <strong>Dexterity:</strong>
  <%= @character.dexterity %>
</p>

<p>
  <strong>Constitution:</strong>
  <%= @character.constitution %>
</p>

<p>
  <strong>Wisdom:</strong>
  <%= @character.wisdom %>
</p>

<p>
  <strong>Intelligence:</strong>
  <%= @character.intelligence %>
</p>

<p>
  <strong>Charisma:</strong>
  <%= @character.charisma %>
</p>

<p>
  <strong>Hit points:</strong>
  <%= @character.hit_points %>
</p>

<p>
  <strong>Armor class:</strong>
  <%= @character.armor_class %>
</p>

<p>
  <strong>Name:</strong>
  <%= @character.name %>
</p>

<p>
  <strong>Level:</strong>
  <%= @character.level %>
</p>

<p>
  <strong>Proficiencies one:</strong>
  <%= @character.proficiencies_one %>
</p>

<p>
  <strong>Proficiences two:</strong>
  <%= @character.proficiences_two %>
</p>

<p>
  <strong>Proficiencies three:</strong>
  <%= @character.proficiencies_three %>
</p>

<p>
  <strong>Proficiencies four:</strong>
  <%= @character.proficiencies_four %>
</p>

<p>
  <strong>Proficiencies five:</strong>
  <%= @character.proficiencies_five %>
</p>

<p>
  <strong>Feat one:</strong>
  <%= @character.feat_one %>
</p>

<p>
  <strong>Feat two:</strong>
  <%= @character.feat_two %>
</p>

<p>
  <strong>Feat three:</strong>
  <%= @character.feat_three %>
</p>

<p>
  <strong>Feat four:</strong>
  <%= @character.feat_four %>
</p>

<p>
  <strong>Feat five:</strong>
  <%= @character.feat_five %>
</p>

<p>
  <strong>Initiative:</strong>
  <%= @character.initiative %>
</p>

<p>
  <strong>Speed:</strong>
  <%= @character.speed %>
</p>

<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
